* {
    font-family: Arial;
}

.listVideos {
    display   : flex;
    flex-wrap : wrap;
    gap       : 20px;
    padding   : 20px;
    margin-top: 20px;
    border    : 2px solid black;
}

.listVideos_Item {
}

.videoContainer span {
    display   : none;
    visibility: hidden;
}

.linkContainer {
    padding         : 10px;
    border-radius: 15px;
    background-color: aquamarine;
}


.linkContainer:hover {
    background-color: darkorange;
}


.button {
    cursor       : pointer;
    background   : rgb(96, 185, 245);
    padding      : 10px;
    border       : none;
    border-radius: 15px;
}

.button:hover {
    transform: scale(1.1);
}

.addButton {
    margin-top: 15px;
    background: rgb(85, 253, 85);
}

ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
}